html
  head
    link(href="../static/style/ranking.css",type="text/css", rel="stylesheet")

  body.detailTask
    section.title
      .circle
        span.rewardRate #{data.rewardRate} 
        .arrowLeft →
      h3 准确率奖励加倍百分比
      h4 额外奖励
      h5 #{data.reward}元
    
    section.second
      table
        tr
          th 今日完成片段数
          th 准确率排名
          th 累积总完成片段数
        tr 
          th #{task_amount}
          th #{ranking}
          th #{total_task_amount}

    section.threeRightRate
      table
        tr
          th 排名
          th 昵称
          th 准确率
          th 奖励加成
        each result, i in data.rightRateList
          tr 
            th #{i + 1}
            th #{result.wechat_id}
            th #{result.right_task_rate}
            th #{result.reward_rate}

    section.threeTodayTask
      table
        tr
          th 排名
          th 昵称
          th 今日完成片段数
          th 累计总完后才能片段数
        each result, i in data.todayTaskList
          tr 
            th #{i + 1}
            th #{result.wechat_id}
            th #{result.task_amount}
            th #{result.total_task_amount}

    section.threeTotalTask
      table
        tr
          th 排名
          th 昵称
          th 今日完成片段数
          th 累计总完后才能片段数
        each result, i in data.totalTaskList
          tr 
            th #{i + 1}
            th #{result.wechat_id}
            th #{result.task_amount}
            th #{result.total_task_amount}

            

