html
  head
    link(href="../static/style/ranking.css",type="text/css", rel="stylesheet")
    
    script(src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.js")
    // script(src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js")
    script(src="../static/app.js")

  body.runking
    section.title
      .circle
        span.rewardRate #{data.rewardRate} 
        .arrowLeft →
      h3 准确率奖励加倍百分比
      h4 额外奖励
      h5 #{data.reward}元
    
    section.second
      table
        tr
          th 
            a.todayTaskClick(href="###", onclick="todayTaskClick();return true;") 今日完成片段数
          th 
            a.rightRateClick(href="###", onclick="rightRateClick();return true;")  准确率排名
          th 
            a.totalTaskClick(href="###", onclick="totalTaskClick();return true;")  累积总完成片段数
        tr 
          td #{data.task_amount}
          td #{data.ranking}
          td #{data.tasks_done}

    section.three.rightRate
      table
        tr
          th 排名
          th 昵称
          th 准确率
          th 奖励加成
        each result, i in data.rightRateList
          tr 
            td #{i + 1}
            td #{result.wechat_id}
            td #{result.right_task_rate}
            td #{result.reward_rate}

    section.three.todayTask
      table
        tr
          th 排名
          th 昵称
          th 今日完成片段数
          th 累计总完成片段数
        each result, i in data.todayTaskList
          tr 
            td #{i + 1}
            td #{result.wechat_id}
            td #{result.task_amount}
            td #{result.tasks_done}

    section.three.totalTask
      table
        tr
          th 排名
          th 昵称
          th 今日完成片段数
          th(style="{color: #ff000}") 累计总完成片段数
        each result, i in data.totalTaskList
          tr 
            td #{i + 1}
            td #{result.wechat_id}
            td #{result.task_amount}
            td #{result.tasks_done}

            

